<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://unpkg.com/htmx.org@1.9.12" integrity="sha384-ujb1lZYygJmzgSwoxRggbCHcjc0rB2XoQrxeTUQyRjrOnlCoYta87iKBWq3EsdM2" crossorigin="anonymous"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Example HTMX Navigation</title>
</head>
<body>
    This is an example of HTMX Playground

    <button hx-get = "/index" hx-target="body" hx-push-url="true"> Change Page</button>

    <button hx-get = "" hx-target="#content"> Google</button>

    <div id="content">
        
    </div>
</body>
</html>